<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.members.dao.MemberDao">    
    <select id="selectMemberCount" 
            resultType="_int">
       SELECT COUNT(NAME)
         FROM MEMBERS
     </select>
    
    <select id="selectMemberList" 
            resultType="com.ktdsuniversity.edu.members.vo.MemberVO">
       SELECT EMAIL 
            , NAME 
            , PASSWORD
         FROM MEMBERS
    </select>
    
    <insert id="insertNewMember" parameterType="com.ktdsuniversity.edu.members.vo.request.RegistVO">
       INSERT INTO MEMBERS 
            ( EMAIL
            , NAME
            , PASSWORD)
            VALUES
            ( #{email}
            , #{name}
            , #{password})
    </insert>
    </mapper>