<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.movie.dao.MovieDao">
    <select id="selectMovieCount" 
            resultType="_int">
       SELECT COUNT(MOVIE_ID)
         FROM MOVIE
     </select>
    
    <select id="selectMovieList" 
            resultType="com.ktdsuniversity.edu.movie.vo.MovieVO">
       SELECT MOVIE_ID
            , POSTER_URL
            , TITLE
            , MOVIE_RATING
            , TO_CHAR(OPEN_DATE, 'YYYYMMDD HH24:MI:SS') AS OPEN_DATE
            , OPEN_COUNTRY
            , RUNNING_TIME
            , INTRODUCE
            , SYNOPSIS
            , ORIGINAL_TITLE
            , MOVIE_STATE
            , LANGUAGE
            , BUDGET
            , PROFIT
         FROM MOVIE
        ORDER BY MOVIE_ID ASC
    </select>
    
        <select id="selectMovieById" 
            resultType="com.ktdsuniversity.edu.movie.vo.MovieVO">
       SELECT MOVIE_ID
            , POSTER_URL
            , TITLE
            , MOVIE_RATING
            , TO_CHAR(OPEN_DATE, 'YYYYMMDD HH24:MI:SS') AS OPEN_DATE
            , OPEN_COUNTRY
            , RUNNING_TIME
            , INTRODUCE
            , SYNOPSIS
            , ORIGINAL_TITLE
            , MOVIE_STATE
            , LANGUAGE
            , BUDGET
            , PROFIT
         FROM MOVIE
        WHERE MOVIE_ID = #{articleId}
    </select>
    
    <insert id="insertNewMovie" parameterType="com.ktdsuniversity.edu.movie.vo.request.WriteVO">
       INSERT INTO MOVIE 
           ( MOVIE_ID
           , POSTER_URL
           , TITLE
           , MOVIE_RATING
           , OPEN_DATE
           , OPEN_COUNTRY
           , RUNNING_TIME
           , INTRODUCE
           , SYNOPSIS
           , ORIGINAL_TITLE
           , MOVIE_STATE
           , LANGUAGE
           , BUDGET
           , PROFIT)            
           VALUES
            ('MV-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_MOVIE_PK.NEXTVAL, 6, '0')
           , #{posterUrl}
           , #{title}
           , #{movieRating}
           , #{openDate}
           , #{openCountry}
           , #{runningTime}
           , #{introduce}
           , #{synopsis}
           , #{originalTitle}
           , #{movieState}
           , #{language}
           , #{budget}
           , #{profit})
    </insert>
</mapper>